.contact-wrap{
    padding: 0 30px;
    font-family: $font-family-heading;

    .content{
        background-color: $primary;
        border-radius: 15px;
        overflow: hidden;

        hr{
            background-color: $white;
            opacity: 1;
        }

        p{
            color: $white;
        }
       
        .form-wrap{
            padding: 25px;
            background-color: $white;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            height: 100%;
            position: relative;
            right: -1px;

            .form-label{
                font-weight: 600;
            }

            
            .form-control{
                border: none;
                height: 50px;
                border-radius: 10px;
                box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 24%) !important;
            }

            textarea{
                &.form-control{
                    height: 100px;
                }
            }
        }

        .address{
            padding: 30px;

            .address-item{
                position: relative;
                padding-left: 40px;
                font-family: $font-family-base;

                a{
                    color: $white;
                    
                }

                .icon{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    border: 2px solid $white;
                    text-align: center;
                    line-height: 35px;
                    color: $white;
                }

                a{
                    &:hover{
                        color: $white;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    
}

.people-wrap{
    .nav{
        justify-content: center;
    }

    .nav-link{
        border-radius: 30px;
        font-family: $font-family-heading;
        font-weight: 600;
        padding: 10px 30px;
        font-size: 1.2rem;
        border: none;
        margin: 0 10px;
        background-color: $white;
        color: $black;
        text-transform: uppercase;
        position: relative;
        border: 1px solid gray;

        &.active{
            background-color: $primary;
            color: $white;
            border: none;

            &::after{
                position: absolute;
                content: "";
                width: 0; 
                height: 0; 
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 15px solid $primary;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &:hover{
            background-color: $primary;
            color: $white;
        }
    }


    .tab-content{
        padding: 40px;
        border-radius: 15px;
        background-color: $light;
        overflow: auto;

    }
}


// Braekpoint Mobile scss ===============================
@media only screen and (max-width: $mobile-width){

    .contact-wrap{
        padding: 0;

        .content{
            .form-wrap{
                right: 0;
                border-radius: 15px;
            }
        }
    }

  }