.heading{
    font-size: 1.8rem;
    color: $black;
    font-weight: 700;
    font-family: $font-family-heading;

    &.uppercase{
        text-transform: uppercase;
    }
}

.slick-dotted.slick-slider{
    margin-bottom: 0 !important;
}

.btn{
    border-radius: 30px;
    font-family: $font-family-heading;
    font-weight: 600;
    padding: 7px 20px;
    font-size: 1.1rem;
    border: 2px solid $primary;
    overflow: hidden;

}

.btn-primary{
    background-color: $primary;
    border-color: $primary;
    position: relative;
    

    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 25%;
        height: 100%;
        width: 50%;
        background-color: #000;
        border-radius: 50%;
        opacity: 0;
        pointer-events: none;
        transition: all ease-in-out 1s;
        transform: scale(5, 5);
    }

    &:hover{
        color: $primary;
        background-color: $white;
        border: 2px solid $primary;

        &::after{
            padding: 0;
            margin: 0;
            opacity: .2;
            transition: 0s;
            transform: scale(0, 0);
        }
    }
}

.btn-outline-primary{
    border-color: $gray-500;
    color: $gray-600;

    &:hover{
        color: $white;
        background-color: $primary;
        border-color: $primary;
    }
}

.hero-section{
    height: 150px;
    background-size: cover;
    position: relative;
    font-family: $font-family-heading;

    .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        min-width: 300px;
        text-align: center;

        .title{
            font-size: 2rem;
            font-weight: 700;
            color: $white;
            margin-bottom: 0;
        }

        .breadcrumb-item + .breadcrumb-item::before{
            content: ">";
            color: $white;
        }

        .breadcrumb-item{
            color: $white;
            font-weight: 600;

            &.active{
                font-weight: 400;
            }
 
        }
    }
}

//Home Slider =====================
.home-slider-wrap{
    position: relative;

    .play-button{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 5px solid white;
        color: #fff;
        text-align: center;
        box-shadow: 2px -1px 9px #0000005e;
        bottom: -44px;
        font-size: 2rem;
        line-height: 68px;
        background: linear-gradient(141.79deg, #df2027 0%, #ff0060 100%);
        z-index: 1;
    }
}
.home-slider{
    height: auto;
    width: 100%;
    position: relative;
    // height: 490px;

    .slide-item{
        width: 100px;
        height: auto;
        display: block;
        img{
            width: 100%;
        }
    }

    .slick-prev{
        z-index: 1;
        left: 20px;
        height: 40px;
        width: 40px;
        border: 2px solid $white;
        border-radius: 50%;
        box-shadow: 0 5px 16px rgb(0 0 0 / 15%);

        &::before{
            content: "\f104";
            font-family: "Font Awesome 5 Free";
            font-size: 2rem;
            font-weight: 900;
            opacity: 1;
            color: $primary;
        }
    }

    .slick-next{
        z-index: 1;
        right: 20px;
        height: 40px;
        width: 40px;
        border: 2px solid $white;
        border-radius: 50%;
        box-shadow: 0 5px 16px rgb(0 0 0 / 15%);

        &::before{
            content: "\f105";
            font-size: 2rem;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            opacity: 1;
            color: $primary;
        }
    }

    .slick-dots{
        bottom: 13px;

        li{
            height: 12px;
            width: 12px;
            border-radius: 50%;
            border: 2px solid $white;
            box-shadow: 0 5px 16px rgb(0 0 0 / 15%);

            &.slick-active{
                background-color: $primary;
            }

            button{
                display: none;
            }
        }
    }
}


// About us ================

.about-us{
    padding: 55px 0;
    font-family: $font-family-heading;
    position: relative;

    // Darkmode Css ===========

    &.dark-mode{
        background-color: $dark-mode;
        color: $white;

        .heading{
            color: $white;;
        }

        .head-message{
            background-color: $dark-mode;

            .message-wrap{
                background-color: #333840;
            }
        }
    }

    //========================

    p{
        text-align: justify;
    }

    .head-message{
        position: absolute;
        right: 0;
        top: 35px;
        bottom: 35px;
        width: 40%;
        background-color: #F6F6F6;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 35px 70px 35px 35px;

        .message-wrap{
            background-color: $white;
            padding: 20px;
            max-width: 500px;
            border-radius: 15px;

            .image{
                width: 40%;
            }

            .message{
                width: 60%;

                p{
                    // text-transform: uppercase;
                    // letter-spacing: 1;
                }
            }

            .heading{
                font-size: 1.4rem;
                text-transform: uppercase;
            }
            
        }
    }
}


// Digital Education ====================

.digital-education{
    padding: 30px 0;
    text-align: center;
    background-color: $pink;
    font-family: $font-family-heading;

    // Darkmode Css ===========

    &.dark-mode{
        background-color: $dark-mode;
        border-top: 1px solid $gray-500;

        .heading{
            color: $white;
        }

        .digital-slider{
            .slide-item{
                .title{
                    color: $white;
                }
            }
        }
    }

    //=======================

    .digital-slider{
        padding: 40px 0;
        position: relative;
        opacity: 0;
        bottom: -100px;
        transition: all 350ms;

        &.in-view{
            opacity: 1;
            bottom: 0;
        }

        .slide-item{
        text-align: center;

            .image{
                height: 170px;
                width: 170px;
                border-radius: 50%;
                border: 5px solid $white;
                background-color: $white;
                background-size: cover;
                padding: 20px;
                line-height: 110px;
                text-align: center;
                display: inline-block;
                transition: all 350ms;
                overflow: hidden;

                img{
                    display: inline-block;
                }

                &:hover{
                    border-color: $primary;
                    @extend .shadow;
                }
            }

            .title{
                margin-top: 20px;
                font-size: 1.5rem;
                font-weight: 600;
                color: lighten($black, 10%);
            }
        }

        .slick-prev{
            z-index: 1;
            left: -25px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            
            &:hover{
                &::before{
                    color: $primary;
                }
            }
    
            &::before{
                content: "\f104";
                font-family: "Font Awesome 5 Free";
                font-size: 2rem;
                font-weight: 900;
                opacity: 1;
                color: $black;
            }
        }
    
        .slick-next{
            z-index: 1;
            right: -25px;
            height: 40px;
            width: 40px;
            border-radius: 50%;

            &:hover{
                &::before{
                    color: $primary;
                }
            }
            
    
            &::before{
                content: "\f105";
                font-size: 2rem;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                opacity: 1;
                color: $black;
            }
        }

        .slick-dots{
            bottom: -10px;
    
            li{
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background-color: $white;
                box-shadow: 0 5px 16px rgb(0 0 0 / 15%);
    
                &.slick-active{
                    background-color: $primary;
                }
    
                button{
                    display: none;
                }
            }
        }
    }
}

// Ongoing Events ====================
.ongoing-events{
    padding: 50px 0;
    text-align: center;
    font-family: $font-family-heading;

    // Darkmode Css ===========

    &.dark-mode{
        background-color: $dark-mode;
        color: $white;
        border-top: 1px solid $gray-500;

        .heading{
            color: $white;
        }

        .ongoing-slider{
            .slide-item{
                .title{
                    color: $white;
                }
            }
        }
    }
    //=========================

    .ongoing-slider{
        padding: 40px 0;
        position: relative;
        bottom: -100px;
        transition: all 350ms;

        &.in-view{
            opacity: 1;
            bottom: 0;
        }

        .slide-item{
            width: 100%;
            padding: 0 25px;

            .image{
                height: 200px;
                border-radius: 30px;
                overflow: hidden;
                width: 100%;
                position: relative;
                background-size: cover;

                &:hover{
                    .layer{
                        opacity: 1;
                    }
                }

                .layer{
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-color: #d46142bf;
                    opacity: 0;
                    transition: all 350ms;

                    p{
                        position: absolute;
                        margin: 0;
                        left: 50%;
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        font-weight: 500;
                        color: $white;
                        font-size: 1.2rem;
                    }
                }
            }
    
            img{
                width: 100%;
            }

            .title{
                margin-top: 20px;
                font-size: 1rem;
                font-weight: 600;
                color: lighten($black, 10%);
            }
        }
        

        .slick-dots{
            bottom: -0px;
    
            li{
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background-color: gray;
                box-shadow: 0 5px 16px rgb(0 0 0 / 15%);
    
                &.slick-active{
                    background-color: $primary;
                }
    
                button{
                    display: none;
                }
            }
        }

        .slick-prev{
            z-index: 1;
            left: -35px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            
            &:hover{
                &::before{
                    color: $primary;
                }
            }
    
            &::before{
                content: "\f104";
                font-family: "Font Awesome 5 Free";
                font-size: 2rem;
                font-weight: 900;
                opacity: 1;
                color: $black;
            }
        }
    
        .slick-next{
            z-index: 1;
            right: -35px;
            height: 40px;
            width: 40px;
            border-radius: 50%;

            &:hover{
                &::before{
                    color: $primary;
                }
            }
            
    
            &::before{
                content: "\f105";
                font-size: 2rem;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                opacity: 1;
                color: $black;
            }

            
        }
    
    }

    
}


// Department =========================

.department{
    padding: 80px 0;
    background-color: #F2F2F2;
    position: relative;

     // Darkmode Css ===============

     &.dark-mode{
         background-color: $dark-mode;
         border-top: 1px solid $gray-500;

         .layer{
             display: none;
         }
     }

     // ============================

    .layer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        img{
            width: 100%;
        }
    }

    .department-wrap{
        padding: 0 80px;

        .department-item{
            background-color: $blue;
            height: 200px;
            width: 100%;
            display: block;
            margin-bottom: 20px;
            position: relative;
            overflow: hidden;

            &:hover{
                @extend.shadow;
                .over-layer{
                    width: 100%;
                }
            }

            .over-layer{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 0;
                transition: all 350ms;
                background-color: $primary;
            }

            &.primary{
                background-color: $primary;
            }

            .content{
                position: absolute;
                top: 50%;
                transform: translateY(-10%);
                text-align: center;
                color: white;
                left: 20px;
                right: 20px;
                // position: relative;
                top: -50px;
                opacity: 0;
                transition: all 350ms;

                &.in-view{
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 1;
                }

                .image{
                    display: inline-block;
                    width: 120px;
                }

                .title{
                    font-family: $font-family-heading;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 1.7rem;
                    line-height: 1;

                    &.sm{
                        font-size: 1.5rem;
                    }

                }
            }
        }
    }
}

// Infrastructure ============================

.infrastructure{
    text-align: center;
    padding: 50px 0;
    font-family: $font-family-heading;
    background-size: contain;
    background-repeat: repeat-x;

    // Darkmode Css ===============

    &.dark-mode{
        background-color: $dark-mode;
        border-top: 1px solid $gray-500;

        .heading{
            color: $white;
        }

        .infrastructure-wrap{
            .item {
                .title{
                    color: $white;
                }
            }
        }
    }

    // ============================

    .infrastructure-wrap{
        padding-top: 40px;

        .item{
            width: 100%;
            height: 235px;
            display: block;
            padding: 25px;
            transition: all 350ms;
            position: relative;

            .shape{
                position: absolute;
                top: 0px;
                left: 0;
                bottom: 0;
                right: 0;
                background-repeat: no-repeat;
                transition: all 350ms;
                background-size: contain;
            }


            .content{
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-10%);
                position: absolute;
                transition: all 350ms;
                line-height: 1;
                opacity: 0;

                &.in-view{
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    opacity: 1;
                }


                img{
                    width: 80px;
                }
            }

            &:hover{
                transform: scale(1.1);

                // .shape{
                //     transform: rotate(60deg);
                // }
                
                
            }
            
            

            .title{
                font-size: 1.2rem;
                text-transform: uppercase;
                color: $black;
                font-weight: 600;
                margin-top: 10px;
            }
        }

        .top-elemement{
            position: relative;
            left: 55px;
        }

        .bottom-element{
            position: relative;
            right: 55px;
            top: -30px;
        }
    }
}

// Announcement =================================

.announcement{
    padding: 70px 0;
    background-color: #F2F2F2;

    // Darkmode Css ===============

    &.dark-mode{
        background-color: $dark-mode;
        border-top: 1px solid $gray-500;

        .heading{
            color: $white;
        }

        .announcement-wrap{
            .tab-content{
                background-color: #333840;
                li{
                    a{
                        color: $white;
                    }
                }
            }
        }
    }

    // ============================

    .announcement-wrap{

        .nav{
            justify-content: center;
        }

        .nav-link{
            border-radius: 30px;
            font-family: $font-family-heading;
            font-weight: 600;
            padding: 10px 30px;
            font-size: 1.2rem;
            border: none;
            margin: 0 10px;
            background-color: $white;
            color: $black;
            text-transform: uppercase;
            @extend .shadow;

            &.active{
                background-color: $primary;
                color: $white;
            }

            &:hover{
                text-decoration: underline;
            }
        }
        .tab-content{
            padding: 30px 20px;
            border-radius: 15px;
            background-color: $white;
            height: 400px;
            overflow: auto;

            &.no-height{
                min-height: 400px;
                height: auto;
            }

            li{
                font-size: 1.15rem;
                margin-bottom: 5px;

                a{
                    color: $black;

                    &:hover{
                        color: $primary;
                    }

                    .contractual{
                        display: inline-block;
                        padding: 2px 5px;
                        border-radius: 15px;
                        font-size: 0.8rem;
                        font-weight: 600;
                        margin-left: 5px;
                        color: $success;
                        border: 2px solid $success;

                    }

                    .regular{
                        display: inline-block;
                        padding: 2px 5px;
                        border-radius: 15px;
                        font-size: 0.8rem;
                        font-weight: 600;
                        margin-left: 5px;
                        color: $success;
                        border: 2px solid $success;
                        color: $danger;
                        border: 2px solid $danger;
                    }
                }
            }
        }
    }
}


// Partner ======================================

.partner{
    padding: 50px 0;
    background-color: $light;

    // Darkmode Css ===============

    &.dark-mode{
        background-color: $dark-mode;
        border-top: 1px solid $gray-500;
    }

    // ============================

    .partner-slider{

        .slide-item{
            padding: 0 10px;

            .image{
                display: block;
                height: 100px;
                width: 100%;
                background-color: $white;
                padding: 10px;
                text-align: center;

                img{
                    height: 100%;
                    width: auto;
                    display: inline-block;
                }
            }
        }
    }
}







//=======================================
// Breakpoint =================================
//=======================================



// Braekpoint Tablet scss ===============================

@media only screen and (max-width: $tablet-width){

    .about-us{
        padding: 30px 0;
        .head-message{
            position: static;
            margin-top: 20px;
            width: auto;
            margin-left: 30px;
        }
    }

    .digital-education{
        padding: 30px 0;
    }

    .ongoing-events{
        padding: 30px 0;

        .ongoing-slider{
            .slide-item{
                .image{
                    height: 180px;
                }
            }
        }
    }


    .department{
        padding: 30px 0;

        .department-wrap{
            .department-item{
                .content{

                    .title{
                        font-size: 1.5rem;

                        &.sm{
                            font-size: 1.4rem;
                        }
                    }

                }
            }
        }
    }

    .infrastructure{
        .infrastructure-wrap{
            .top-elemement{
                left: 0;
            }

            .bottom-element{
                right: 0;
                top: 0;
            }
        }
    }

    .announcement{
        padding: 30px 15px;

        .announcement-wrap{
            .nav-link{
                padding: 5px 23px;
                font-size: 1rem;
                border: none;
                margin: 2px 5px;
            }

            .tab-pane{
                ul{
                    padding-left: 1rem;
                }
            }
        }
    }
}



// Braekpoint Mobile scss ===============================

@media only screen and (max-width: $mobile-width){

    .heading{
        font-size: 1.5rem;
    }

    .about-us{
        .head-message{
            margin-left: 20px;
            padding: 20px;
        }
    }

    .digital-education{

        .digital-slider{
            .slick-next{
                right: 0;
            }

            .slick-prev{
                left: 0;
            }
        }
    }

    .ongoing-events{

        .ongoing-slider{

            .slick-next{
                right: -8px;
            }

            .slick-prev{
                left: -8px;
            }
        }
    }

    .department{
        .department-wrap{
            padding: 0 30px;
        }
    }

    .infrastructure{
        .infrastructure-wrap{
            .item{
                .shape{
                    background-size: contain;
                }

                .content{
                    img{
                        width: 50px;
                    }
                }

                .title{
                    font-size: 1rem;
                }
            }
        }
    }

}