.newsletter-wrap{
    
    .newsletter{
        background-color: $light;
        margin-bottom: 25px;
        position: relative;
        border-radius: 10px;

        .latest{
            position: absolute;
            background: linear-gradient(100.48deg, #1ab563 0%, #2fff49 100%);
            color: $white;
            font-family: "Raleway", sans-serif;
            font-weight: 600;
            padding: 2px 23px;
            top: 16px;
            right: -10px;
            transform-origin: center;
            font-size: 0.9rem;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;

            &::after{
                content: "";
                border-top: 10px solid $success;
                border-right: 10px solid transparent;
                right: 0px;
                bottom: -10px;
                position: absolute;
            }

        }

        .image{
            height: 250px;
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;


            img{
                height: 100%;
                width: 100%;
            }
        }

        .title{
            font-family: $font-family-heading;
            font-weight: 600;
            color: $black;
            font-size: 1.1rem;
            line-height: 1;
            padding: 20px 10px 0px 10px;
        }

        .date{
            padding: 10px;
            color: $primary;
            font-family: $font-family-base;
            font-weight: 600;
            font-size: 0.9rem;
        }

        .button{
            padding: 10px 10px;
            width: 100%;
            display: block;
            background-color: $primary;
            color: $white;
            text-align: center;
            font-weight: 600;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    
}