// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-family-base: 'Open Sans', sans-serif;
$font-family-heading: 'Raleway', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$green: #86AB5B;

$primary: #D46142;

$pink: #F6E2C9;

$foot-bg: #404040;

$blue: #393862;


// Break Points ============

$mobile-width: 767px;
$tablet-width: 1023px;