.websites{
    font-family: $font-family-heading;
    background-color: $white;
    .web-wrap{
        padding-top: 40px;

        .web-item{
            margin-bottom: 5px;
            background-color: #e6eaedc9;
            border-radius: 10px;
            padding: 25px 0;

            &:last-child{
                border-bottom: none;
            }

            &:nth-child(even){
                .image-wrap{
                    order: 2;
                }

                .details-wrap{
                    order: 1;
                    text-align: right;
                }
            }

            .image{
                height: 200px;
                width: 200px;
                padding: 20px;
                border-radius: 50%;
                border: 4px solid $primary;
                line-height: 150px;
                @extend .shadow;
                display: inline-block;
                background-color: $white;
                overflow: hidden;
            }

            .details{
                .title{
                    font-size: 1.7rem;
                    font-weight: 700;
                    margin-bottom: 15px;
                }

                .icons{

                    .item{
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        display: inline-block;
                        margin: 0 5px;
                        line-height: 35px;
                        text-align: center;
                        color: $white;
                    }
                }
            }
        }
    }
}


// Braekpoint Mobile scss ===============================
@media only screen and (max-width: $mobile-width){

    .websites{
        
        .web-wrap{
         
            .web-item{
                margin: 5px;
    
                &:nth-child(even){
                    .image-wrap{
                        order: 1;
                    }
    
                    .details-wrap{
                        order: 2;
                        text-align: center;
                    }
                }

                .details-wrap{
                    text-align: center;
                }
                
            }
        }
    }

  }