// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

body{
    overflow-x: hidden;
}

.invalid-feedback{
    display: block;
}

.loading-bar{
    position: fixed;
    background-color: $white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    display: none;

    &.active{
        display: block;
    }

    .image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100px;
        transform-origin: center;
        animation-name: round;
        animation-duration: 300ms;
        animation-direction: normal;
        animation-iteration-count: infinite;
    }
}

@keyframes round {
    0%   {transform: translateX(-50%) translateY(-50%) rotate(10deg);}
    25%  {transform: translateX(-50%) translateY(-50%) rotate(45deg)}
    50%  {transform: translateX(-50%) translateY(-50%) rotate(60deg)}
    75%  {transform: translateX(-50%) translateY(-50%) rotate(90deg)}
    100% {transform: translateX(-50%) translateY(-50%) rotate(180deg)}
  }

// Header
@import 'header';

// Home Page
@import 'home';

@import 'contact';

@import 'department';

@import 'calender';

@import 'project';

@import 'websites';

@import 'newsletter';

// Footer
@import 'footer';

.go-top-arrow{
    position: fixed;
    right: 20px;
    bottom: 7px;
    font-size: 1.5rem;
    background-color: $primary;
    color: $white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 37px;
    transition: all 350ms;
    opacity: 0;

    &:hover{
        color: $white;
    }

    &.active{
        opacity: 1;
    }
}

.page-content{
    padding: 30px 0;
    font-family: $font-family-base;
    position: relative;

    &.dark-mode{
        background-color: $dark-mode;
        color: $white;
    }

    .with-watermark{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30%;
        z-index: -1;
        right: -10%;

    }

    h2{
        font-family: $font-family-heading;
        color: $primary;
        font-weight: 600;
    }

    h3{
        font-family: $font-family-heading;
        color: $primary;
        font-weight: 600;
    }

    h4{
        font-family: $font-family-heading;
        color: $primary;
        font-weight: 600;
    }

    a{
        color: $primary;
    }

    .table{
        border-radius: 10px;
        overflow: hidden;

        &.webiner{
            a{
                font-size: 1.2rem;
            }
        }

        thead{
            tr{
                color: $white;
                background-color: #94AD78;
                font-family: $font-family-heading;
                
            }
        }

        tbody{
            th{
                border: 5px solid $white;
                background-color: $white;
                border-radius: 5px;
                // border-color: $gray-500;

            }

            td{
                border: 5px solid $white;
                background-color: $white;
                border-radius: 5px;
                // border-color: $gray-500;
            }
        }
    }
}

.archive-webiner{

    .table{
        border-radius: 10px;
        overflow: hidden;

        &.webiner{
            a{
                font-size: 1.2rem;
            }
        }

        thead{
            tr{
                color: $white;
                background-color: #94AD78;
                font-family: $font-family-heading;
                
            }
        }

        tbody{
            th{
                border: 5px solid $white;
                background-color: $white;
                border-radius: 5px;
                // border-color: $gray-500;

            }

            td{
                border: 5px solid $white;
                background-color: $white;
                border-radius: 5px;
                // border-color: $gray-500;
            }
        }
    }

}

.upcoming-webiner{
    .table{
        border-radius: 10px;
        overflow: hidden;

        &.webiner{
            a{
                font-size: 1.2rem;
            }
        }

        thead{
            tr{
                color: $white;
                background-color: #94AD78;
                font-family: $font-family-heading;
                
            }
        }

        tbody{
            th{
                border: 5px solid $white;
                background-color: $white;
                border-radius: 5px;
                // border-color: $gray-500;

            }

            td{
                border: 5px solid $white;
                background-color: $white;
                border-radius: 5px;
                // border-color: $gray-500;
            }
        }
    }
}

.text-primary{
    color: $primary !important;
}
