.sidebar{
    position: fixed;
    width: 210px;
    top: 0;
    bottom: 0;
    left: 0;
    // background-color: #1D2327;
    background-color: $white;
    border-right: 1px solid #80808059;
    

    .logo{
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 0 5px;
        text-align: center;
        
        img{
            width: 65px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
            background-color: $black;
            padding: 5px;
            border-radius: 5px;
        }
    }

    .menu{
        margin: 0;
        padding: 0;
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;

        .menu-item{
            margin-bottom: 10px;

            .menu-link{
                color: #7e8388;
                padding: 5px 10px;
                font-weight: 600;
                width: 100%;
                display: block;
                transition: all 350ms;
                border-radius: 3px;
                font-size: 0.8rem;

                i{
                    margin-right: 10px;
                }

                &:hover{
                    background-color: #242835;
                    color: $white;
                }

                &.active{
                    background-color: $black;
                    color: $white;
                }
            }
        }

        .dropdown-menu{
            background-color: transparent;
            border: 0;
            padding: 0;
            position: static !important;
            transform: translate(0px, 0px) !important;
            border-left: 1px solid;
            margin-left: 20px !important;
            border-radius: 0;

            .dropdown-item{
                color: #7e8388;
                font-weight: 600;
                border-radius: 3px;
                transition: all 350ms;
                border-radius: 3px;
                font-size: 0.7rem;
                padding: 3px 9px;
                margin-bottom: 5px;

                &:hover{
                    background-color: #242835;
                    color: $white;
                }

                &.active{
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }
}

.form-label{
    font-weight: 600;
}

.invalid-feedback{
    display: block;
}

.main{
    padding-left: 210px;

    .page-content{
        padding: 30px;
    }

    .welcome{
        background-color: lighten($primary, 40%);
    }

    .table{
        tbody{
            tr{
                font-size: 0.8rem;
            }
        }
    }

    .index-table{
        tr{
            .actions{
                opacity: 0;
                transition: all 350ms;
                .btn{
                    padding: 2px 6px;
                    font-size: 0.7rem;
                }
            }

            &:hover{
                .actions{
                    opacity: 1;
                }
            }
        }
    }

    .bootstrap-tagsinput{
        .tag{
            padding: 2px 5px;
            border-radius: 3px;
            margin-bottom: 3px;
            display: inline-block;
        }
        .label-info{
            background-color: $primary;
        }
    }

    .sticky-top{
        &.inner-sidebar{
            top: 72px;
        }
    }
}